{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Tous les articles</h1>
        {% for a in articles %}
            <div class="article">
                <a href="{{ path("front_article", { "id": a.id} )}}">{{ a.titre }}</a>
            </div>
        {% endfor %}

        {% block coucou %}
            Hello coucou
        {% endblock %}
    </div>
{% endblock %}

 {% block stylesheets %}
     <style>
        .article{
            background-color:purple;
            color:white;
            padding:30px;
            margin:20px 0;
        }
     </style>
{% endblock %}


