{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ article.titre }} </h1>
    {% if article.illustration %}
        <img src="{{ asset("img/" ~ article.illustration )}}" alt="Illustration d'article" />
    {% endif %}
    <p>Rédigé par {{ article.auteur.pseudo }} le 
    {{ article.date|date("d/m/Y à H:i") }}</p>
    <p>{{ article.contenu }} </p>
{% endblock %}

